:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-height: 100vh;
}

/* Custom cursors */
:root {
	--cursor-default: url("./assets/cursors/pointer.svg") 4 4, auto;
	--cursor-pointer: url("./assets/cursors/hand.svg") 10 2, pointer;
}

html {
	cursor: var(--cursor-default);
}

a,
a:hover,
button,
button:hover,
[role="button"],
[role="button"]:hover,
input[type="button"],
input[type="button"]:hover,
input[type="submit"],
input[type="submit"]:hover,
input[type="reset"],
input[type="reset"]:hover,
label,
label:hover,
select,
select:hover,
summary,
summary:hover {
	cursor: var(--cursor-pointer) !important;
}

input,
textarea {
	cursor: text !important;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}


/* Hide scrollbar */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}
